// common styles here
body
	height: auto
	font-family: $roboto
	font-weight: 400
	font-size: 16px
	color: #fff
	background-color: $color_bg-2

a
	text-decoration: none
	color: #fff

img
	vertical-align: top

.h3
	color: #000
	font-size: 24px
	font-weight: 300

.out
	position: relative
	background-color: $color_bg-2
	box-shadow: 0 0 20px 0 $color_bg-2
	z-index: 20

.wrapper
	margin-left: 300px
	+r(768)
		margin-left: 0
	&-post
		padding: 25px
		+r(1400)
			padding: 20px
		+r(768)
			padding: 15px
			
.columns
	display: flex
	padding: 30px 0
	background-color: #fff
	+r(1400)
		padding: 20px 0
	+r(1200)
		flex-direction: column

.column
	flex: 0 0 50%
	padding: 0 30px
	&:first-child
		border-right: 1px solid $color_bg-2
		+r(1200)
			border: none
			margin-bottom: 20px
	+r(1400)
		padding: 0 20px
	+r(1200)
		flex: 0 0 100%
	+r(768)
		padding: 0 10px
			
@keyframes fadeIn 
	0%
		opacity: 0
	100%
		opacity: 1

.fade-in
  opacity: 0
  animation: fadeIn ease-in 1
  animation-fill-mode: forwards
  animation-duration: 0.1s
  animation-delay: 0.1s