.qcontact
	position: fixed
	right: 0
	top: 0
	z-index: 10
	&__inner
		position: relative
		width: 90px
		height: 90px
		background: #28b4b2
		cursor: pointer
	&__circle
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 60px
		height: 60px
		border-radius: 50%
		border: 1px solid #fff
		&-icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 25px
			height: 25px
			background: #fff
			border-radius: 50%
	&__icon
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		color: #28b4b2
		font-size: 17px
	&__info
		position: fixed
		right: 0
		top: 90px
		transform: translateX(280px)
		transition: transform 0.3s ease-out
		&.qcontact-toggle
			transform: translateX(0)
		&-inner
			width: 280px
			padding: 10px 15px
			opacity: 0.8
			background-color: #333
		&-item
			margin: 10px 0
		&-text
			margin-left: 10px
			font-size: 16px
			font-weight: 300
