---
title: Company Name | About
---

{% extends "./layouts/_layout.njk" %}

{% block content %}

	{% set staff = [
		{"img": "staff_1.jpg",
		 "name": "John Smith",
		 "position": "Web Developer"
		},
		{"img": "staff_2.jpg",
		 "name": "John Smith",
		 "position": "Web Developer"
		},
		{"img": "staff_3.jpg",
		 "name": "John Smith",
		 "position": "Web Developer"
		},
		{"img": "staff_4.jpg",
		 "name": "John Smith",
		 "position": "Web Developer"
		},
		{"img": "staff_5.jpg",
		 "name": "John Smith",
		 "position": "Web Developer"
		},
		{"img": "staff_6.jpg",
		 "name": "John Smith",
		 "position": "Web Developer"
		}
	]%}
	
	{% set skills = [
		{"name": "Website Design",
		 "percent": "89%",
		 "namebar": "skillbar-1"
		},
		{"name": "Website Development",
		 "percent": "97%",
		 "namebar": "skillbar-2"
		},
		{"name": "Plugins",
		 "percent": "85%",
		 "namebar": "skillbar-3"
		},
		{"name": "Front end",
		 "percent": "75%",
		 "namebar": "skillbar-4"
		}
	]%}

	{% set services = [
		{"name": "Web Design"},
		{"name": "Photography"},
		{"name": "Plugin Development"},
		{"name": "Front end"},
		{"name": "Design from Scretch"},
		{"name": "Website Maintenance"}
	]%}

	<div class="about">
		<div class="about__inner">

			<div class="about__column">

				<div class="about__image">
					<div class="about__image-inner">
						<img class="about__image-photo" src="img/team.jpg" alt="team">
					</div>
					<!-- /.about__image-inner -->
				</div>
				<!-- /.about__image -->

				<div class="about__team">
					<h3 class="h3">
						Who We Are
					</h3>
					<p class="about__team-info">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim commodi quisquam nam ut omnis delectus optio nostrum tempora, vero blanditiis consequuntur magnam. Consequatur iure ad praesentium laboriosam. Fuga voluptatem mollitia deserunt similique incidunt optio amet recusandae consequatur cum magnam! Totam neque enim molestiae animi expedita at vitae architecto impedit praesentium!
					</p>
					<!-- /.about__team-info -->
					<p class="about__team-info">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsam, tenetur doloribus porro nesciunt natus, repellendus iusto dolorem ratione ab corporis vero reiciendis dolor provident explicabo accusantium illo odit quaerat veniam sint. Ipsum quam autem, inventore excepturi quos, eum omnis.
					</p>
					<!-- /.about__team-info -->
				</div>
				<!-- /.about__team -->

				<div class="about__staff">
					<h3 class="h3">
						Our Staff
					</h3>
					<div class="staff">
						{% for item in staff %}
							<div class="staff__item">
								<div class="staff__item-outer">
									<div class="staff__item-inner">
										<div class="staff__item-info">
											<h4 class="h4">{{item.name}}</h4>
											<p>{{item.position}}</p>
										</div>
										<!-- /.staff__item-info -->
										<img src="img/{{item.img}}" alt="staff" class="staff__item-image">
									</div>
									<!-- /.staff__item-inner -->
								</div>
								<!-- /.staff__item-outer -->
							</div>
							<!-- /.staff__item -->
						{% endfor %}
					</div>
					<!-- /.staff -->
				</div>
				<!-- /.about__staff -->

			</div>
			<!-- /.about__column -->

			<div class="about__column">

				<div class="about__skills">
					<h3 class="h3">
						Our Skills
					</h3>
					{% for skill in skills %}
						<p class="skill">
							{{skill.name}}<span class="skill__percent">{{skill.percent}}</span>
						</p>
						<div class="skillbar">
							<div class="skillbar__inner {{skill.namebar}}"></div>
						</div>
					{% endfor %}
					</div>
				<!-- /.about__skills -->

				<div class="about__testimonials">
					<h3 class="h3">
						Testimonials
					</h3>
					<div class="about__review">
						<div class="about__review-block">
							<img src="img/staff_2.jpg" alt="staff" class="about__review-photo">
							<p class="about__review-name">Collis Ta’eed - CEO at Envato</p>
						</div>
						<!-- /.about__review-block -->
						<p class="about__review-text">
							Sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
						</p>
					</div>
					<!-- /.about__review -->
				</div>
				<!-- /.about__testimonials -->

				<div class="about__services">
					<h3 class="h3">
						Services
					</h3>
					<ul>
						{% for service in services %}
							<li class="about__services-item">{{service.name}}</li>
						{% endfor %}
					</ul>
				</div>
				<!-- /.about__services -->
			</div>
			<!-- /.about__column -->
		</div>
		<!-- /.about__inner -->
	</div>
	<!-- /.about -->

{% endblock %}