---
title: Company Name
---

{% extends "./layouts/_layout.njk" %}

{% block content %}

	{% set works = [
		{"img": "work_1.jpg"},
		{"img": "work_2.jpg"},
		{"img": "work_3.jpg"},
		{"img": "work_4.jpg"},
		{"img": "work_5.jpg"},
		{"img": "work_1.jpg"},
		{"img": "work_2.jpg"},
		{"img": "work_3.jpg"},
		{"img": "work_4.jpg"},
		{"img": "work_5.jpg"},
		{"img": "work_1.jpg"},
		{"img": "work_2.jpg"},
		{"img": "work_3.jpg"}
	]%}

	<div class="portfolio">
		<div class="portfolio__inner">

			{% for work in works %}
				<div class="portfolio__item">
					<div class="portfolio__item-outer">
						<div class="portfolio__item-inner">
							<div class="portfolio__item-info">
								<h4 class="h4">Cool App Design</h4>
								<p>development, mobile</p>
								<div class="portfolio__item-click">
									<i class="icon-right-big"></i>
								</div>				
							</div>
							<!-- /.portfolio__info -->
							<img class="portfolio__item-image" src="img/{{work.img}}" alt="work">
						</div>
						<!-- /.portfolio__item-inner -->
					</div>
					<!-- /.portfolio__item-outer -->
				</div>
				<!-- /.portfolio__item -->
			{% endfor %}
			
		</div>
		<!-- /.portfolio__inner -->
	</div>
	<!-- /.portfolio -->

{% endblock %}