---
title: Company Name
---

{% extends "./layouts/_layout.njk" %}

{% block content %}

	{% set works = [
		{"img": "work_1.jpg",
		 "filter": "filter1 filter2"
		},
		{"img": "work_2.jpg",
		 "filter": "filter2"
		},
		{"img": "work_3.jpg",
		 "filter": "filter3"
		},
		{"img": "work_4.jpg",
		 "filter": "filter4 filter1"
		},
		{"img": "work_5.jpg",
		 "filter": "filter5 filter4"
		},
		{"img": "work_1.jpg",
		 "filter": "filter1"
		},
		{"img": "work_2.jpg",
		 "filter": "filter2 filter5"
		},
		{"img": "work_3.jpg",
		 "filter": "filter3"
		},
		{"img": "work_4.jpg",
		 "filter": "filter4 filter3"
		},
		{"img": "work_5.jpg",
		 "filter": "filter5"
		},
		{"img": "work_1.jpg",
		 "filter": "filter1"
		},
		{"img": "work_2.jpg",
		 "filter": "filter2"
		},
		{"img": "work_3.jpg",
		 "filter": "filter3"
		}
	]%}

	<div class="wrapper">
		<div class="portfolio">

			{% for work in works %}
				<div class="portfolio__item js-portfolio {{work.filter}} show">
					<div class="portfolio__item-outer">
						<div class="portfolio__item-inner">
							<div class="portfolio__item-info">
								<h4 class="h4">Cool App Design</h4>
								<p>development, mobile</p>
								<div class="portfolio__item-click">
									<i class="fas fa-arrow-right"></i>
								</div>				
							</div>
							<!-- /.portfolio__info -->
							<img class="portfolio__item-image" src="img/{{work.img}}" alt="work">
						</div>
						<!-- /.portfolio__item-inner -->
					</div>
					<!-- /.portfolio__item-outer -->
				</div>
				<!-- /.portfolio__item -->
			{% endfor %}
			
		</div>
		<!-- /.portfolio -->
	</div>
	<!-- /.wrapper -->

	{% include "./partials/_qcontact.njk" %}

{% endblock %}