---
title: Company Name | Work
---

{% extends "./layouts/_layout.njk" %}

{% block content %}

	{% set slider = [
		{"src": "work_1.jpg"},
		{"src": "work_2.jpg"},
		{"src": "work_3.jpg"},
		{"src": "work_4.jpg"}
	]%}	

	{% set projects = [
		{"img": "work_1.jpg"},
		{"img": "work_2.jpg"},
		{"img": "work_3.jpg"}
	]%}	

	{% set info = [
		{"fa": "fas fa-user",
		 "text": "premiumlayers"
		},
		{"fa": "fas fa-heart",
		 "text": "138 Likes"
		},
		{"fa": "far fa-calendar-alt",
		 "text": "25 December, 2013"
		},
		{"fa": "far fa-comments",
		 "text": "4 Comments"
		}
	]%}

	{% set tags = [
		{"name": "web design"},
		{"name": "photography"},
		{"name": "development"},
		{"name": "php"},
		{"name": "ecommerce"},
		{"name": "graphic"}
	]%}

	{% set gallery = [
		{"src": "work_1.jpg"},
		{"src": "work_2.jpg"},
		{"src": "work_3.jpg"},
		{"src": "work_4.jpg"},
		{"src": "work_5.jpg"},
		{"src": "work_1.jpg"},
		{"src": "work_2.jpg"},
		{"src": "work_3.jpg"},
		{"src": "work_4.jpg"},
		{"src": "work_5.jpg"}
	]%}

	{% set features = [
		{"name": "Responsive Layout"},
		{"name": "Font Awesome Icons"},
		{"name": "Clean & Commented Code"},
		{"name": "Pixel perfect Design"},
		{"name": "Highly Customizable"}
	]%}

	<div class="wrapper wrapper-post">

		<div class="work columns">
			
			<div class="column">

				<div class="work__slider js-slider-work">
					{% for work in slider %}
						<div class="work__slider-slide">
							<img class="work__slider-photo" src="img/{{work.src}}" alt="work">
						</div>
						<!-- /.work__slider-slide -->
					{% endfor %}
				</div>
				<!-- /.work__image-slider -->
				
				<div class="work__text">
					<h3 class="h3">
						Heavy Sand - Creative Photography
					</h3>
					<p>
						Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
					</p>
					<p>
						Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
					</p>
				</div>
				<!-- /.work__text -->

				<div class="work__projects">
					<h3 class="h3">
						Related Projects
					</h3>
					<div class="projects">
						{% for project in projects %}
							<div class="projects__item">
								<div class="projects__item-outer">
									<div class="projects__item-inner">
										<a href="#">
											<img class="projects__item-image" src="img/{{project.img}}" alt="project">
										</a>
									</div>
									<!-- /.projects__item-inner -->
								</div>
								<!-- /.projects__item-outer -->
							</div>
							<!-- /.projects__item -->
						{% endfor %}
					</div>
					<!-- /.projects -->
				</div>
				<!-- /.work__projects -->
			</div>	
			<!-- /.column -->

			<div class="column">
				
				<div class="work__info">
					<h3 class="h3">
						Project Info
					</h3>
					{% for i in info %}
						<div class="work__info-item">
							<div class="work__info-circle">
								<i class="work__info-icon {{i.fa}}"></i>
							</div>
							<!-- /.work__info-circle -->
							<span class="work__info-text">
								{{i.text}}
							</span>
							<!-- /.work__info-text -->
						</div>
						<!-- /.work__info-item -->
					{% endfor %}
				</div>
				<!-- /.work__info -->

				<div class="work__tags">
					<h3 class="h3">
						Tags
					</h3>
					<div class="tags">
						{% for tag in tags %}
							<button class="tag">
								{{tag.name}}
							</button>
							<!-- /.tag -->
						{% endfor %}
					</div>
					<!-- /.tags -->
				</div>
				<!-- /.work__tags -->

				<div class="work__gallery">
					<div class="h3">
						Project Gallery
					</div>
					<div class="gallery_work">
						{% for image in gallery %}
							<div class="gallery_work__block">
								<div class="gallery_work__outer">
									<div class="gallery_work__inner">
										<a href="img/{{image.src}}" data-lightbox="image">
											<img class="gallery_work__image" src="img/{{image.src}}" alt="image">
										</a>
									</div>
									<!-- /.gallery_work__inner -->
								</div>
								<!-- /.gallery_work__outer -->
							</div>
							<!-- /.gallery_work__block -->
						{% endfor %}
					</div>
					<!-- /.gallery_work -->
				</div>
				<!-- /.work__gallery -->

				<div class="work__features">
					<div class="h3">
						Project Features
					</div>
					<ul class="features_work">
						{% for feature in features %}
							<li class="features_work__item">
								<i class="fas fa-check"></i>
								{{feature.name}}
							</li>
							<!-- /.features_work__item -->
						{% endfor %}
					</ul>
					<!-- /.features_work -->
				</div>
				<!-- /.work__features -->

			</div>
			<!-- /.column -->
		
		</div>
		<!-- /.work -->

	</div>
	<!-- /.wrapper -->

{% endblock %}