<div class="qcontact js-qcontact">

	<div class="qcontact__inner">
		<div class="qcontact__circle">
			<div class="qcontact__circle-icon">
				<i class="qcontact__icon fas fa-info"></i>
			</div>
			<!-- /.qcontact__circle-icon -->
		</div>
		<!-- /.qcontact__circle -->
	</div>
	<!-- /.qcontact__inner -->
</div>
<!-- /.qcontact -->

<div class="qcontact__info js-qcontact-info">
	<div class="qcontact__info-inner">
		<ul class="qcontact__info-list">
			<li class="qcontact__info-item">
				<i class="fas fa-phone-alt"></i>
				<span class="qcontact__info-text">9999 9999 9999</span>
			</li>
			<li class="qcontact__info-item">
				<i class="far fa-envelope"></i>
				<span class="qcontact__info-text">contact@domain.com</span>
			</li>
			<li class="qcontact__info-item">
				<i class="fas fa-home"></i>
				<span class="qcontact__info-text">street address example</span>
			</li>
		</ul>
		<!-- /.qcontact__info-list -->
	</div>
	<!-- /.qcontact__info-inner -->
</div>
<!-- /.qcontact__info -->